*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainAppjs{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboardjs{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sideBarjs{
    width: 20%;
    height: 100vh;
}

.Dashoutlet{
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.header{
    height: 10vh;
    width: 100%;
    position: relative;
}

.outlet{
    width: 100%;
    min-height: 100vh;
    overflow-y: scroll;
}