.navBar_content{
    width: 100%;
    height: 30vh;
    display: grid;
    position: fixed;
    z-index: 1;
}

.sub_nav-bar{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262626;
}

.email_phone{
    display: flex;
    height: 100%;
    width: 79%;
}

.email{
    height: 100%;
    width: 28%;
    display: flex;
    margin-left: 120px;
    padding-left: 10px;
    transition: all 0.8s linear;
    cursor: pointer;
}

.email_icon{
    font-size: 30px;
    margin-top: 15px;
    color: #C29D59;
    font-weight: bold;
}

.email h3{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 5px;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
}

.phone{
    height: 100%;
    width: 18%;
    display: flex;
    padding-left: 20px;
    border-left: 1px solid #FFFFFF;
    transition: all 0.8s linear;
    cursor: pointer;
}

.phone:hover,
.email:hover{
    background-color: #FFFFFF;
    color: #262626!important;
}


.phone h3:hover,
.email h3:hover {
  color: #292929;
  height: 100%;
}

.phone_icon{
    font-size: 30px;
    margin-top: 15px;
    color: #C29D59;
}

.phone h3{
    font-size: 14px;
    margin-top: 20px;
    margin-left: 5px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.social_medias{
    height: 100%;
    width: 25%;
    display: flex;
    margin-right: 6px;
}

.face{
    height: 100%;
    width: 50px;
    transition: all 0.8s linear;
    cursor: pointer;
}

.face:hover{
    background-color: #FFFFFF;
}

._icon{
    font-size: 26px;
    margin-top: 10px;
    color: #C29D59;
    margin-left: 10px;
    cursor: pointer;
}

.inst{
    height: 100%;
    width: 50px;
    border-left: 1px solid #FFFFFF;
    transition: all 0.8s linear;
    cursor: pointer;
}

.inst:hover{
    background-color: #FFFFFF;
}

.x{
    height: 100%;
    width: 50px;
    border-left: 1px solid #FFFFFF;
    transition: all 0.8s linear;
    cursor: pointer;
}

.x:hover{
    background-color: #FFFFFF;
}

.main_nav-bar{
    background-color: #FFFFFF;
    height: 18vh;
    width: 78%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -50px;
    margin-left: 120px;
    transform: 120px;
    box-shadow: 0 0 10px #0c0c0c4d;
}

.logo{
    width: 220px;
    height: 50px;
    margin-left: 60px;
}

.search_bager{
    height: 100%;
    width: 30%;
    margin-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu_icon{
    font-size: 35px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.search_icon{
    font-size: 26px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

.menu_btn,
.search_btn{
    background-color: #C29D59;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #292929;
}

.reserver_btn{
    padding: 1em 2.5em;
    color: #FFFFFF;
    font-size: 14px;
    background-color: #C29D59;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1;
    font-weight: bold;
    position: relative;
    overflow: hidden; 
}

.reserver_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color:#292929;
    transition: all ease 0.8s;
    z-index: -1;
  }

  .reserver_btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C29D59;
    transition: all ease 0.8s;
    z-index: -1;
  }

  .reserver_btn:hover::before {
    height: 100%;
  }

  .reserver_btn:hover::after {
    height: 0;
  }

  /**css for navBar modal**/
  .navBarModel{
    display: flex;
    justify-content: space-between;
    background-color: #2B2B2B;
    height: 100vh;
    width: 100%;
  }

  .navBar_main{
    height: 100%;
    width: 81%;
  }

  .backbuton{
    height: 100%;
    width: 19%;
    position: relative;
  }

  .close_icon{
    color: #FFFFFF;
    font-size: 45px;
    margin-top: 87px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
  }
  
  .modal_icons{
    display: grid;
    margin-bottom: 70px;
  }

  .backbuton{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  ._icons{
    color: #C29D59;
    border-radius: 50%;
    background-color: #FFFFFF;
    font-size: 30px;
    padding: 8px;
    margin-bottom: 20px;
    transition: all ease 1s;
  }

  ._icons:hover{
    color: #FFFFFF;
    background-color: #C29D59;
  }

/** css for main content of navbar **/
.model_content{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalLogo{
    width: 350px;
    height: 80px;
    position: relative;
    top: 100px;
    left: 80px;
}

.main_NavBar{
    width: 80%;
    height: 60%;
    position: relative;
    left: 90px;
    top: 60px;
    
}

.main_NavBar ul{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #393939;
    padding-left: 30px;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.links{
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all ease 0.5s;
}

.links:hover{
    color: #C29D59;
    text-decoration: line-through;
}

.active-link{
    text-decoration: line-through;
    color: #C29D59;
    font-weight: bold;
}